{% load static %}
{% include "./template-parts/header.html" %}


        <!-- Jobs Start -->
        <div class="container-xxl py-5">
            <div class="container">
                {% if results %}
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Search Results For: {{name}}</h1>
         
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                    <!-- <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                                <h6 class="mt-n1 mb-0">Featured</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                                <h6 class="mt-n1 mb-0">Full Time</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                                <h6 class="mt-n1 mb-0">Part Time</h6>
                            </a>
                        </li>
                    </ul> -->
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">

                            <!-- ---------------------------------------------------- -->
                            {% for job in results %}
                            <div class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        {% if job.company_logo %}
                                        <img class="flex-shrink-0 img-fluid border rounded" src="{{job.company_logo.url}}" alt="" style="width: 80px; height: 80px;">
                                        {% else %} 
                                        {% endif %}
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">{{job.title}}</h5>
                                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-dark me-2"></i>{{job.location}}</span>
                                            {% if job.is_fulltime %}
                                                <span class="text-truncate me-3"><i class="far fa-clock text-dark me-2"></i>Full Time</span>
                                            {% else %}
                                                <span class="text-truncate me-3"><i class="far fa-clock text-dark me-2"></i>Part Time</span>
                                            {% endif %}
                                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-dark me-2"></i>{{job.salary}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-dark"></i></a>
                                            <a class="btn btn-dark" href="">Apply Now</a>
                                        </div>
                                        <small class="text-truncate"><i class="far fa-calendar-alt text-dark me-2"></i>Dead Line: {{job.deadline}}</small>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                            <!-- -------------------------------jobs pagination----------------- -->
                            {% if results.has_other_pages %}
                            <ul class="pagination ">
                                {% if results.has_previous %}
                                <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in results.paginator.page_range %}
                                {% if jobs.number == i %}
                                    <li class="active text-center"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="text-center"><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if results.has_next %}
                                <li class="text-center"><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                <li class="disabled text-center"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                            {% endif %}
                            <!-- ---------------------------------------------------------------- -->
                            <!-- ----------------------------------------------------- -->
                           
                            <!-- <div class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-5.jpg" alt="" style="width: 80px; height: 80px;">
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">Wordpress Developer</h5>
                                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-dark me-2"></i>New York, USA</span>
                                            <span class="text-truncate me-3"><i class="far fa-clock text-dark me-2"></i>Full Time</span>
                                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-dark me-2"></i>$123 - $456</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-dark"></i></a>
                                            <a class="btn btn-dark" href="">Apply Now</a>
                                        </div>
                                        <small class="text-truncate"><i class="far fa-calendar-alt text-dark me-2"></i>Date Line: 01 Jan, 2045</small>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <a class="btn btn-dark py-3 px-5" href="">Browse More Jobs</a> -->
                        </div>
                    </div>
                </div>
                {% else %}
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">No Search Results For: {{name}} . Try Again</h1>
                {% endif %}
            </div>
        </div>
        <!-- Jobs End -->


        {% include "./template-parts/footer.html" %}