{% load static %}
{% include "./template-parts/header.html" %}
        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Post Job</h1>
                <div class="row g-4">
                   
                    <div class="col-md-8 mx-auto">
                        <div class="wow fadeInUp" data-wow-delay="0.5s">
                           
                            <form action="{% url 'job_posting' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            {{form.category}}
                                            <label for="category">Category</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            {{form.title}}
                                            <label for="title">Title</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            {{form.description}}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            {{form.is_fulltime}}
                                            <label for="is_fulltime">Is full time</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            {{form.location}}
                                            <label for="location">Location</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            {{form.salary}}
                                            <label for="salary">salary</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            {{form.company}}
                                            <label for="company">Company</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="howtoapply">How to apply</label>
                                            {{form.howtoapply}}
                                        </div>
                                    </div>
                                    
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="id_company_logo">Company logo</label><br>
                                            {{form.company_logo}}
                                           
                                        </div>
                                    </div>
                                   
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label  for="deadline">Deadline</label><br>
                                            {{form.deadline}} 
                                            
                                            
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-dark w-100 py-3" type="submit">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->


    {% include "./template-parts/footer.html" %}
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>