{% load static %}
{% include "./template-parts/header.html" %}
<style>
    .errorlist{
        list-style-type: none;
    }
    .errorlist li{
        text-align: center;
        color: red;
    }
</style>


        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container ">
                <div class="row">
                   <a href="{% url 'create_account' 'employer' %}" class="col-md-4"><button type="button" class="btn btn-primary btn-lg w-100">Sign Up as Employer</button></a>
                   <div class="col-md-4"></div>
                   <a href="{% url 'create_account' 'worker' %}"  class="col-md-4"><button type="button" class="btn btn-secondary btn-lg w-100">Sign Up as Worker</button></a>
                </div>
                 
            </div>
        </div>
        <!-- Contact End -->


       

    {% include "./template-parts/footer.html" %}